<html>
  <body>
    <h1>Create Restaurant</h1>
    <form action="/restaurant" method="POST" encType="multipart/form-data">
      Restaurant Name:<input type="text" name="resName"><br>
      Restaurant ID:<input type="text" name="resID"><br>
      Borough:<input type="text" name="borough"><br>
      Cuisine:<input type="text" name="cuisine"><br>
      Street:<input type="text" name="street"><br>
      Building:<input type="text" name="building"><br>
      Zipcode:<input type="text" name="zipcode"><br>
      Coord:<br>
      GPS Coordinates (lat.)<input type="text" name="lat"><br>
      GPS Coordinates (lon.)<input type="text" name="lon"><br>
      Photo:<input type="file" name="photo"><br>
      <input type="submit" value="Create">
    </form>
  </body>
</html>