<html>
<body>
<h1>Restaurant</h1>
<p>User: <%= name %> </p>
<p>Number of restaurant: <%= re.length %> </p>
<p><a href=/restaurant>Create New Restaurant</a></p>
<ul>
<% re.forEach(function(p) {%>
  <li><a href=/restaurantDetail?_id=<%= p._id %>><%= p.resName %></a></li>
<% }); %>
</ul>
</script>
</body>
</html>