<html>
<h1>Restaurant</h1>
<body>
<p>User: <%= name %> </p>
<p>Number of restaurant: <%= re.length %> </p>

<ul>
<% re.forEach(function(p) {%>
  <li><a href=/restaurantDetail?id=<%= p.id %>><%= p.name %></a></li>
<% }); %>
</ul>
</script>
</body>
</html>