<http>
  <body>
    <form action="/rate" method="POST">
      Please rate to this restaurant: <input type="text" name="score"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</http>