<html>
    <body>
        <h1>Register</h1>
        <form action="/register" method="POST" encType="multipart/form-data">
        Username:<input type="text" name="name"><br>
        Password:<input type="text" name="password"><br>
        </form>
    </body>
</html>
