<html>
    <body>
        <h1>search</h1>
        <form action="/search" method="POST" encType="multipart/form-data">
        search by:<input type="text" name="qs"><br>
        search for:<input type="text" name="a"><br>
        <input type="submit" value="search">
        </form>
    </body>
</html>
